<header class="masthead">
  <div class="masthead__inner wrap">
    <nav class="masthead__menu" role="navigation">
      <ul class="masthead__menu--left">
        {% for link in site.data.navigation.main %}
          <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="masthead__menu--right">
        {% for link in site.data.navigation.utility %}
          <li><a href="{{ link.url }}" rel="noopener">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

