<nav class="masthead__menu" role="navigation">
  <div style="display:flex; justify-content:space-between; width:100%;">
    <div class="masthead__menu-left">
      <a href="/resume/">Resume</a> |
      <a href="/about/">About</a> |
      <a href="/projects/">Projects</a> |
      <a href="/certifications/">Certifications</a>
    </div>
    <div class="masthead__menu-right">
      <a href="https://www.linkedin.com/in/vamsidharreddyvenna/">LinkedIn</a> |
      <a href="https://github.com/vennavamsidharreddy-cell">GitHub</a> |
      <a href="mailto:vennavamsidharreddy@gmail.com">Email</a> |
      <span>Edmond, OK, US</span>
    </div>
  </div>
</nav>
